{% extends 'base.html' %}
{% load static %}

{% block content %}
    {% include 'about/banner.html' %}
    <section class="section section-sm section-first bg-default text-md-left">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h2 style="color: black; text-align: center; font-family:'Brush Script MT'">Từ Làng Ra Phố</h2>
{#                    Comic Sans MS;Brush Script MT;Curlz MT#}
                    <hr>
                    <p>
                        <img alt=""
                             src="{% static 'images/logo_about.jpg' %}"
                             style="width: 262px; height: 262px; float: right; margin: 10px;"/>
                    </p>
                    <p>Từ Làng Ra Phố - nơi cung cấp nông sản bản địa, món ăn địa phương, thực phẩm chức năng cam kết truy xuất nguồn gốc xuất xứ.</p>

                </div>
            </div>
        </div>
    </section>
{% endblock %}