<!-- New Products-->
<section class="section section-xxl bg-default">
    <div class="container">

        <h2 class="wow fadeScale">Latest products</h2>

        <div class="row row-30 row-lg-50">
            <div class="col-sm-6 col-md-4 col-lg-3">
                <!-- Product-->
                <article class="product wow fadeInRight">
                    <div class="product-body">


                        <div class="product-figure">
                            <a href="https://demo.s-cart.org/product/demo-alias-name-product-26/s3.html">
                                <img src="https://demo.s-cart.org/data/product/product-11.png"
                                     alt="Easy Polo Black Edition 26"/>
                            </a>
                        </div>


                        <h5 class="product-title"><a
                                href="https://demo.s-cart.org/product/demo-alias-name-product-26/s3.html">Easy Polo
                            Black Edition 26</a></h5>


                        <div class="store-url"><a href="https://demo.s-cart.org/store/store-3"><i
                                class="fa fa-shopping-bag" aria-hidden="true"></i> Store 3</a>
                        </div>


                        <a onClick="addToCartAjax('26','default','3')"
                           class="button button-lg button-secondary button-zakaria add-to-cart-list"><i
                                class="fa fa-cart-plus"></i> Add to cart</a>


                        <div class="product-price-wrap">
                            <div class="product-price product-price-old">$15,000</div>
                            <div class="product-price">$4,000</div>
                        </div>
                    </div>


                    <span><img class="product-badge new"
                               src="https://demo.s-cart.org/templates/s-cart-light/images/home/sale.png" class="new"
                               alt=""/></span>


                    <div class="product-button-wrap">
                        <div class="product-button">
                            <a class="button button-secondary button-zakaria"
                               onClick="addToCartAjax('26','wishlist','3')">
                                <i class="fas fa-heart"></i>
                            </a>
                        </div>
                        <div class="product-button">
                            <a class="button button-primary button-zakaria"
                               onClick="addToCartAjax('26','compare','3')">
                                <i class="fa fa-exchange"></i>
                            </a>
                        </div>


                    </div>
                </article>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3">
                <!-- Product-->
                <article class="product wow fadeInRight">
                    <div class="product-body">


                        <div class="product-figure">
                            <a href="https://demo.s-cart.org/product/demo-alias-name-product-25/s1.html">
                                <img src="https://demo.s-cart.org/data/product/product-2.png"
                                     alt="Easy Polo Black Edition 25"/>
                            </a>
                        </div>


                        <h5 class="product-title"><a
                                href="https://demo.s-cart.org/product/demo-alias-name-product-25/s1.html">Easy Polo
                            Black Edition 25</a></h5>


                        <div class="store-url"><a href="https://demo.s-cart.org/store/root"><i
                                class="fa fa-shopping-bag" aria-hidden="true"></i> Store 1</a>
                        </div>


                        <a onClick="addToCartAjax('25','default','1')"
                           class="button button-lg button-secondary button-zakaria add-to-cart-list"><i
                                class="fa fa-cart-plus"></i> Add to cart</a>


                        <div class="product-price-wrap">
                            <div class="product-price">$15,000</div>
                        </div>
                    </div>


                    <div class="product-button-wrap">
                        <div class="product-button">
                            <a class="button button-secondary button-zakaria"
                               onClick="addToCartAjax('25','wishlist','1')">
                                <i class="fas fa-heart"></i>
                            </a>
                        </div>
                        <div class="product-button">
                            <a class="button button-primary button-zakaria"
                               onClick="addToCartAjax('25','compare','1')">
                                <i class="fa fa-exchange"></i>
                            </a>
                        </div>


                    </div>
                </article>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3">
                <!-- Product-->
                <article class="product wow fadeInRight">
                    <div class="product-body">


                        <div class="product-figure">
                            <a href="https://demo.s-cart.org/product/demo-alias-name-product-23/s3.html">
                                <img src="https://demo.s-cart.org/data/product/product-7.png"
                                     alt="Easy Polo Black Edition 23"/>
                            </a>
                        </div>


                        <h5 class="product-title"><a
                                href="https://demo.s-cart.org/product/demo-alias-name-product-23/s3.html">Easy Polo
                            Black Edition 23</a></h5>


                        <div class="store-url"><a href="https://demo.s-cart.org/store/store-3"><i
                                class="fa fa-shopping-bag" aria-hidden="true"></i> Store 3</a>
                        </div>


                        <a onClick="addToCartAjax('23','default','3')"
                           class="button button-lg button-secondary button-zakaria add-to-cart-list"><i
                                class="fa fa-cart-plus"></i> Add to cart</a>


                        <div class="product-price-wrap">
                            <div class="product-price">$20,000</div>
                        </div>
                    </div>


                    <div class="product-button-wrap">
                        <div class="product-button">
                            <a class="button button-secondary button-zakaria"
                               onClick="addToCartAjax('23','wishlist','3')">
                                <i class="fas fa-heart"></i>
                            </a>
                        </div>
                        <div class="product-button">
                            <a class="button button-primary button-zakaria"
                               onClick="addToCartAjax('23','compare','3')">
                                <i class="fa fa-exchange"></i>
                            </a>
                        </div>


                    </div>
                </article>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3">
                <!-- Product-->
                <article class="product wow fadeInRight">
                    <div class="product-body">


                        <div class="product-figure">
                            <a href="https://demo.s-cart.org/product/demo-alias-name-product-22/s1.html">
                                <img src="https://demo.s-cart.org/data/product/product-8.png"
                                     alt="Easy Polo Black Edition 22"/>
                            </a>
                        </div>


                        <h5 class="product-title"><a
                                href="https://demo.s-cart.org/product/demo-alias-name-product-22/s1.html">Easy Polo
                            Black Edition 22</a></h5>


                        <div class="store-url"><a href="https://demo.s-cart.org/store/root"><i
                                class="fa fa-shopping-bag" aria-hidden="true"></i> Store 1</a>
                        </div>


                        <a onClick="addToCartAjax('22','default','1')"
                           class="button button-lg button-secondary button-zakaria add-to-cart-list"><i
                                class="fa fa-cart-plus"></i> Add to cart</a>


                        <div class="product-price-wrap">
                            <div class="product-price">$20,000</div>
                        </div>
                    </div>


                    <div class="product-button-wrap">
                        <div class="product-button">
                            <a class="button button-secondary button-zakaria"
                               onClick="addToCartAjax('22','wishlist','1')">
                                <i class="fas fa-heart"></i>
                            </a>
                        </div>
                        <div class="product-button">
                            <a class="button button-primary button-zakaria"
                               onClick="addToCartAjax('22','compare','1')">
                                <i class="fa fa-exchange"></i>
                            </a>
                        </div>


                    </div>
                </article>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3">
                <!-- Product-->
                <article class="product wow fadeInRight">
                    <div class="product-body">


                        <div class="product-figure">
                            <a href="https://demo.s-cart.org/product/demo-alias-name-product-21/s3.html">
                                <img src="https://demo.s-cart.org/data/product/product-3.png"
                                     alt="Easy Polo Black Edition 21"/>
                            </a>
                        </div>


                        <h5 class="product-title"><a
                                href="https://demo.s-cart.org/product/demo-alias-name-product-21/s3.html">Easy Polo
                            Black Edition 21</a></h5>


                        <div class="store-url"><a href="https://demo.s-cart.org/store/store-3"><i
                                class="fa fa-shopping-bag" aria-hidden="true"></i> Store 3</a>
                        </div>


                        <a onClick="addToCartAjax('21','default','3')"
                           class="button button-lg button-secondary button-zakaria add-to-cart-list"><i
                                class="fa fa-cart-plus"></i> Add to cart</a>


                        <div class="product-price-wrap">
                            <div class="product-price">$15,000</div>
                        </div>
                    </div>


                    <div class="product-button-wrap">
                        <div class="product-button">
                            <a class="button button-secondary button-zakaria"
                               onClick="addToCartAjax('21','wishlist','3')">
                                <i class="fas fa-heart"></i>
                            </a>
                        </div>
                        <div class="product-button">
                            <a class="button button-primary button-zakaria"
                               onClick="addToCartAjax('21','compare','3')">
                                <i class="fa fa-exchange"></i>
                            </a>
                        </div>


                    </div>
                </article>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3">
                <!-- Product-->
                <article class="product wow fadeInRight">
                    <div class="product-body">


                        <div class="product-figure">
                            <a href="https://demo.s-cart.org/product/demo-alias-name-product-19/s1.html">
                                <img src="https://demo.s-cart.org/data/product/product-11.png"
                                     alt="Easy Polo Black Edition 19"/>
                            </a>
                        </div>


                        <h5 class="product-title"><a
                                href="https://demo.s-cart.org/product/demo-alias-name-product-19/s1.html">Easy Polo
                            Black Edition 19</a></h5>


                        <div class="store-url"><a href="https://demo.s-cart.org/store/root"><i
                                class="fa fa-shopping-bag" aria-hidden="true"></i> Store 1</a>
                        </div>


                        <a onClick="addToCartAjax('19','default','1')"
                           class="button button-lg button-secondary button-zakaria add-to-cart-list"><i
                                class="fa fa-cart-plus"></i> Add to cart</a>


                        <div class="product-price-wrap">
                            <div class="product-price">$20,000</div>
                        </div>
                    </div>


                    <div class="product-button-wrap">
                        <div class="product-button">
                            <a class="button button-secondary button-zakaria"
                               onClick="addToCartAjax('19','wishlist','1')">
                                <i class="fas fa-heart"></i>
                            </a>
                        </div>
                        <div class="product-button">
                            <a class="button button-primary button-zakaria"
                               onClick="addToCartAjax('19','compare','1')">
                                <i class="fa fa-exchange"></i>
                            </a>
                        </div>


                    </div>
                </article>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3">
                <!-- Product-->
                <article class="product wow fadeInRight">
                    <div class="product-body">


                        <div class="product-figure">
                            <a href="https://demo.s-cart.org/product/demo-alias-name-product-17/s1.html">
                                <img src="https://demo.s-cart.org/data/product/product-10.png"
                                     alt="Easy Polo Black Edition 17"/>
                            </a>
                        </div>


                        <h5 class="product-title"><a
                                href="https://demo.s-cart.org/product/demo-alias-name-product-17/s1.html">Easy Polo
                            Black Edition 17</a></h5>


                        <div class="store-url"><a href="https://demo.s-cart.org/store/root"><i
                                class="fa fa-shopping-bag" aria-hidden="true"></i> Store 1</a>
                        </div>


                        <a onClick="addToCartAjax('17','default','1')"
                           class="button button-lg button-secondary button-zakaria add-to-cart-list"><i
                                class="fa fa-cart-plus"></i> Add to cart</a>


                        <div class="product-price-wrap">
                            <div class="product-price">$25,000</div>
                        </div>
                    </div>


                    <div class="product-button-wrap">
                        <div class="product-button">
                            <a class="button button-secondary button-zakaria"
                               onClick="addToCartAjax('17','wishlist','1')">
                                <i class="fas fa-heart"></i>
                            </a>
                        </div>
                        <div class="product-button">
                            <a class="button button-primary button-zakaria"
                               onClick="addToCartAjax('17','compare','1')">
                                <i class="fa fa-exchange"></i>
                            </a>
                        </div>


                    </div>
                </article>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3">
                <!-- Product-->
                <article class="product wow fadeInRight">
                    <div class="product-body">


                        <div class="product-figure">
                            <a href="https://demo.s-cart.org/product/demo-alias-name-product-16/s1.html">
                                <img src="https://demo.s-cart.org/data/product/product-16.png"
                                     alt="Easy Polo Black Edition 16"/>
                            </a>
                        </div>


                        <h5 class="product-title"><a
                                href="https://demo.s-cart.org/product/demo-alias-name-product-16/s1.html">Easy Polo
                            Black Edition 16</a></h5>


                        <div class="store-url"><a href="https://demo.s-cart.org/store/root"><i
                                class="fa fa-shopping-bag" aria-hidden="true"></i> Store 1</a>
                        </div>


                        <div class="product-price-wrap">
                            <div class="product-price">Click view price</div>
                        </div>
                    </div>


                    <span><img class="product-badge new"
                               src="https://demo.s-cart.org/templates/s-cart-light/images/home/group.png"
                               class="new" alt=""/></span>


                    <div class="product-button-wrap">
                        <div class="product-button">
                            <a class="button button-secondary button-zakaria"
                               onClick="addToCartAjax('16','wishlist','1')">
                                <i class="fas fa-heart"></i>
                            </a>
                        </div>
                        <div class="product-button">
                            <a class="button button-primary button-zakaria"
                               onClick="addToCartAjax('16','compare','1')">
                                <i class="fa fa-exchange"></i>
                            </a>
                        </div>


                    </div>
                </article>
            </div>
        </div>
    </div>
</section>