{% load static %}
<section class="section swiper-container swiper-slider swiper-slider-1" data-loop="true">
    <div class="swiper-wrapper text-center text-lg-left">
        <div class="swiper-slide swiper-slide-caption context-dark"
             data-slide-bg="{% static 'images/slider/tulangrapho.jpg' %}">
            <div class="swiper-slide-caption section-md text-center">
                <div class="container">
                    <h1 class="swiper-title-1" data-caption-animate="fadeScale" data-caption-delay="100">Top-notch
                        Furniture</h1>
                    <p class="biggest text-white-70" data-caption-animate="fadeScale" data-caption-delay="200">Sofa
                        Store provides the best furniture and accessories for homes and offices.</p>
                    <div class="button-wrap" data-caption-animate="fadeInUp" data-caption-delay="300">
                        <a class="button button-zachem-tak-delat button-white button-zakaria"
                           href="https://demo.s-cart.org/banner/1" target="_self">
                            Shop now
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="swiper-slide swiper-slide-caption context-dark"
             data-slide-bg="https://demo.s-cart.org/data/banner/Main-banner-3-1903x600.jpg">
            <div class="swiper-slide-caption section-md text-center">
                <div class="container">
                    <h1 class="swiper-title-1" data-caption-animate="fadeScale" data-caption-delay="100">Top-notch
                        Furniture</h1>
                    <p class="biggest text-white-70" data-caption-animate="fadeScale" data-caption-delay="200">Sofa
                        Store provides the best furniture and accessories for homes and offices.</p>
                    <div class="button-wrap" data-caption-animate="fadeInUp" data-caption-delay="300">
                        <a class="button button-zachem-tak-delat button-white button-zakaria"
                           href="https://demo.s-cart.org/banner/2" target="_self">
                            Shop now
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Swiper Pagination-->
    <div class="swiper-pagination"></div>
    <!-- Swiper Navigation-->
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
</section>
