<section class="section section-sm section-last bg-default">
    <div class="container">
        <h4 class="font-weight-sbold">Featured Products</h4>
        <div class="row row-lg row-30 row-lg-50 justify-content-center">
            <div class="col-sm-6 col-md-5 col-lg-3">
                <article class="product wow fadeInRight" style="visibility: visible; animation-name: fadeInRight;">
                    <div class="product-body">
                        <div class="product-figure">
                            <a href="https://demo.s-cart.org/product/demo-alias-name-product-26/s3.html">
                                <img src="https://demo.s-cart.org/data/product/product-11.png"
                                     alt="Easy Polo Black Edition 26">
                            </a>
                        </div>
                        <h5 class="product-title"><a
                                href="https://demo.s-cart.org/product/demo-alias-name-product-26/s3.html">Easy Polo
                            Black Edition 26</a></h5>
                        <a onclick="addToCartAjax('26','default','3')"
                           class="button button-lg button-secondary button-zakaria add-to-cart-list">
                            <i class="fa fa-cart-plus"></i> Add to cart</a>

                        <div class="product-price-wrap">
                            <div class="product-price product-price-old">300,000₫</div>
                            <div class="product-price">80,000₫</div>
                        </div>
                    </div>

                    <span><img class="product-badge new"
                               src="https://demo.s-cart.org/templates/s-cart-light/images/home/sale.png" alt=""></span>
                    <div class="product-button-wrap">
                        <div class="product-button">
                            <a class="button button-secondary button-zakaria"
                               onclick="addToCartAjax('26','wishlist','3')">
                                <i class="fas fa-heart"></i>
                            </a>
                        </div>
                        <div class="product-button">
                            <a class="button button-primary button-zakaria" onclick="addToCartAjax('26','compare','3')">
                                <i class="fa fa-exchange"></i>
                            </a>
                        </div>
                    </div>
                </article>
            </div>
            <div class="col-sm-6 col-md-5 col-lg-3">
                <article class="product wow fadeInRight" style="visibility: visible; animation-name: fadeInRight;">
                    <div class="product-body">
                        <div class="product-figure">
                            <a href="https://demo.s-cart.org/product/demo-alias-name-product-1/s1.html">
                                <img src="https://demo.s-cart.org/data/product/product-1.png"
                                     alt="Easy Polo Black Edition 1">
                            </a>
                        </div>
                        <h5 class="product-title"><a
                                href="https://demo.s-cart.org/product/demo-alias-name-product-1/s1.html">Easy Polo Black
                            Edition 1</a></h5>
                        <a onclick="addToCartAjax('1','default','1')"
                           class="button button-lg button-secondary button-zakaria add-to-cart-list">
                            <i class="fa fa-cart-plus"></i> Add to cart</a>

                        <div class="product-price-wrap">
                            <div class="product-price product-price-old">300,000₫</div>
                            <div class="product-price">100,000₫</div>
                        </div>
                    </div>

                    <span><img class="product-badge new"
                               src="https://demo.s-cart.org/templates/s-cart-light/images/home/sale.png" alt=""></span>
                    <div class="product-button-wrap">
                        <div class="product-button">
                            <a class="button button-secondary button-zakaria"
                               onclick="addToCartAjax('1','wishlist','1')">
                                <i class="fas fa-heart"></i>
                            </a>
                        </div>
                        <div class="product-button">
                            <a class="button button-primary button-zakaria" onclick="addToCartAjax('1','compare','1')">
                                <i class="fa fa-exchange"></i>
                            </a>
                        </div>
                    </div>
                </article>
            </div>
            <div class="col-sm-6 col-md-5 col-lg-3">
                <article class="product wow fadeInRight" style="visibility: visible; animation-name: fadeInRight;">
                    <div class="product-body">
                        <div class="product-figure">
                            <a href="https://demo.s-cart.org/product/demo-alias-name-product-11/s1.html">
                                <img src="https://demo.s-cart.org/data/product/product-11.png"
                                     alt="Easy Polo Black Edition 11">
                            </a>
                        </div>
                        <h5 class="product-title"><a
                                href="https://demo.s-cart.org/product/demo-alias-name-product-11/s1.html">Easy Polo
                            Black Edition 11</a></h5>
                        <a onclick="addToCartAjax('11','default','1')"
                           class="button button-lg button-secondary button-zakaria add-to-cart-list">
                            <i class="fa fa-cart-plus"></i> Add to cart</a>

                        <div class="product-price-wrap">
                            <div class="product-price product-price-old">300,000₫</div>
                            <div class="product-price">12,000₫</div>
                        </div>
                    </div>

                    <span><img class="product-badge new"
                               src="https://demo.s-cart.org/templates/s-cart-light/images/home/sale.png" alt=""></span>
                    <div class="product-button-wrap">
                        <div class="product-button">
                            <a class="button button-secondary button-zakaria"
                               onclick="addToCartAjax('11','wishlist','1')">
                                <i class="fas fa-heart"></i>
                            </a>
                        </div>
                        <div class="product-button">
                            <a class="button button-primary button-zakaria" onclick="addToCartAjax('11','compare','1')">
                                <i class="fa fa-exchange"></i>
                            </a>
                        </div>
                    </div>
                </article>
            </div>
            <div class="col-sm-6 col-md-5 col-lg-3">
                <article class="product wow fadeInRight" style="visibility: visible; animation-name: fadeInRight;">
                    <div class="product-body">
                        <div class="product-figure">
                            <a href="https://demo.s-cart.org/product/demo-alias-name-product-8/s1.html">
                                <img src="https://demo.s-cart.org/data/product/product-8.png"
                                     alt="Easy Polo Black Edition 8">
                            </a>
                        </div>
                        <h5 class="product-title"><a
                                href="https://demo.s-cart.org/product/demo-alias-name-product-8/s1.html">Easy Polo Black
                            Edition 8</a></h5>
                        <a onclick="addToCartAjax('8','default','1')"
                           class="button button-lg button-secondary button-zakaria add-to-cart-list">
                            <i class="fa fa-cart-plus"></i> Add to cart</a>

                        <div class="product-price-wrap">
                            <div class="product-price">300,000₫</div>
                        </div>
                    </div>

                    <div class="product-button-wrap">
                        <div class="product-button">
                            <a class="button button-secondary button-zakaria"
                               onclick="addToCartAjax('8','wishlist','1')">
                                <i class="fas fa-heart"></i>
                            </a>
                        </div>
                        <div class="product-button">
                            <a class="button button-primary button-zakaria" onclick="addToCartAjax('8','compare','1')">
                                <i class="fa fa-exchange"></i>
                            </a>
                        </div>
                    </div>
                </article>
            </div>
        </div>
    </div>
</section>