{% load static %}
{% load humanize %}
<section class="section section-sm section-first bg-default">
    <div class="container">
        {% with product_detail|first as product %}
        <div class="row row-30">
            <div class="col-lg-6">
                <div class="slick-vertical slick-product">
                    <!-- Slick Carousel-->
                    <div class="carousel-parent slick-initialized slick-slider" id="carousel-parent" data-items="1"
                         data-swipe="true" data-child="#child-carousel" data-for="#child-carousel">
                        <div aria-live="polite" class="slick-list draggable">
                            <div class="slick-track"
                                 style="opacity: 1; width: 502px; transform: translate3d(0px, 0px, 0px);"
                                 role="listbox">
                                <div class="item slick-slide slick-current slick-active" style="width: 502px;"
                                     data-slick-index="0" aria-hidden="false" tabindex="-1" role="option"
                                     aria-describedby="slick-slide00">
                                    <div class="slick-product-figure"><img
                                            src={% static product.product_id.image_path %} alt="" width="530"
                                            height="480">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <form id="buy_block" class="product-information" action="https://demo.s-cart.org/cart_add"
                      method="post">
                    <input type="hidden" name="_token" value="3YjuQU3CvdzFZL53O0kYXQWRLVjoBYRnyZ3Gzc36">
                    <input type="hidden" name="product_id" id="product-detail-id" value="26">
                    <input type="hidden" name="storeId" id="product-detail-storeId" value="3">
                    <div class="single-product">
                        <h3 class="text-transform-none font-weight-medium" id="product-detail-name">{{ product.product_name}}</h3>

{#                        <div class="store-url"><a href="https://demo.s-cart.org/store/store-3"><i#}
{#                                class="fa fa-shopping-bag" aria-hidden="true"></i> Store 3</a>#}
{#                        </div>#}

                        <p>
                            SKU: <span id="product-detail-model">LFFKKBAY</span>
                        </p>

                        <div class="group-md group-middle">
                            <div class="single-product-price" id="product-detail-price">
                                <span class="sc-new-price">{{ product.product_id.price|intcomma }} VND</span>
                                {% if product.product_id.price > 200000 %}
                                <span class="sc-old-price">450,000 VND</span>
                                {% endif %}
                                (Price without taxes)
                            </div>
                        </div>

                        <hr class="hr-gray-100">
                        <div class="group-xs group-middle">
                            <div class="product-stepper">
                                <div class="stepper "><input class="form-input stepper-input" name="qty" type="number"
                                                             data-zeros="true" value="1" min="1" max="100"><span
                                        class="stepper-arrow up"></span><span class="stepper-arrow down"></span></div>
                            </div>
                            <div>
                                <button class="button button-lg button-secondary button-zakaria" type="submit">Add to
                                    cart
                                </button>
                            </div>
                        </div>

                        <div id="product-detail-attr">

                        </div>
                        <div>
                            Stock status:
                            <span id="stock_status">In stock</span>
                        </div>
                            Category:
                            <a href="{% url 'category' id=category.category_id %}">{{ category.category_name }}</a>
                        <div>
                            Brand:
                            <span id="product-detail-brand">
                            <a href="https://demo.s-cart.org/brand/husq.html">Husq</a>
                            </span>
                        </div>

                        <hr class="hr-gray-100">

                        <div class="group-xs group-middle"><span class="list-social-title">Share</span>
                            <div>
                                <ul class="list-inline list-social list-inline-sm">
                                    <li><a class="icon mdi mdi-facebook" href="#"></a></li>
                                    <li><a class="icon mdi mdi-twitter" href="#"></a></li>
                                    <li><a class="icon mdi mdi-instagram" href="#"></a></li>
                                    <li><a class="icon mdi mdi-google-plus" href="#"></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        {% endwith %}
        <!-- Bootstrap tabs-->
{#        <div class="tabs-custom tabs-horizontal tabs-line" id="tabs-1">#}
{#            <!-- Nav tabs-->#}
{#            <div class="nav-tabs-wrap">#}
{#                <ul class="nav nav-tabs nav-tabs-1">#}
{#                    <li class="nav-item" role="presentation">#}
{#                        <a class="nav-link active" href="#tabs-1-1" data-toggle="tab">Description</a>#}
{#                    </li>#}
{#                </ul>#}
{#            </div>#}
{#            <div class="tab-content tab-content-1">#}
{#                <div class="tab-pane fade show active" id="tabs-1-1">#}
{#                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut#}
{#                        labore et dolore magna aliqua.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do#}
{#                        eiusmod tempor incididunt ut labore et dolore magna aliqua.<img alt=""#}
{#                                                                                        src="/data/product/product-10.png"#}
{#                                                                                        style="width: 262px; height: 262px; float: right; margin: 10px;">#}
{#                    </p>#}
{#                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut#}
{#                        labore et dolore magna aliqua.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do#}
{#                        eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
    </div>
</section>