<section class="section section-xl bg-default">
    <div class="container">
        <div class="row row-30">
            <div class="col-sm-6 col-lg-4">
                <!-- Post Classic-->
                <article class="post post-classic box-md"><a class="post-classic-figure"
                                                             href="https://demo.s-cart.org/news/demo-alias-blog-1.html">
                    <img src="https://demo.s-cart.org/data/content/blog-1.jpg" alt="" width="370" height="239"></a>
                    <div class="post-classic-content">
                        <div class="post-classic-time">
                            <time datetime="2020-10-24 00:00:00">2020-10-24 00:00:00</time>
                        </div>
                        <h5 class="post-classic-title"><a href="https://demo.s-cart.org/news/demo-alias-blog-1.html">Easy
                            Polo Black Edition 1</a></h5>
                        <p class="post-classic-text">
                        </p>
                    </div>
                </article>
            </div>
            <div class="col-sm-6 col-lg-4">
                <!-- Post Classic-->
                <article class="post post-classic box-md"><a class="post-classic-figure"
                                                             href="https://demo.s-cart.org/news/demo-alias-blog-2.html">
                    <img src="https://demo.s-cart.org/data/content/blog-2.jpg" alt="" width="370" height="239"></a>
                    <div class="post-classic-content">
                        <div class="post-classic-time">
                            <time datetime="2020-10-24 00:00:00">2020-10-24 00:00:00</time>
                        </div>
                        <h5 class="post-classic-title"><a href="https://demo.s-cart.org/news/demo-alias-blog-2.html">Easy
                            Polo Black Edition 2</a></h5>
                        <p class="post-classic-text">

                        </p>
                    </div>
                </article>
            </div>
            <div class="col-sm-6 col-lg-4">
                <!-- Post Classic-->
                <article class="post post-classic box-md"><a class="post-classic-figure"
                                                             href="https://demo.s-cart.org/news/demo-alias-blog-3.html">
                    <img src="https://demo.s-cart.org/data/content/blog-3.jpg" alt="" width="370" height="239"></a>
                    <div class="post-classic-content">
                        <div class="post-classic-time">
                            <time datetime="2020-10-24 00:00:00">2020-10-24 00:00:00</time>
                        </div>
                        <h5 class="post-classic-title"><a href="https://demo.s-cart.org/news/demo-alias-blog-3.html">Easy
                            Polo Black Edition 3</a></h5>
                        <p class="post-classic-text">

                        </p>
                    </div>
                </article>
            </div>
            <div class="col-sm-6 col-lg-4">
                <!-- Post Classic-->
                <article class="post post-classic box-md"><a class="post-classic-figure"
                                                             href="https://demo.s-cart.org/news/demo-alias-blog-4.html">
                    <img src="https://demo.s-cart.org/data/content/blog-4.jpg" alt="" width="370" height="239"></a>
                    <div class="post-classic-content">
                        <div class="post-classic-time">
                            <time datetime="2020-10-24 00:00:00">2020-10-24 00:00:00</time>
                        </div>
                        <h5 class="post-classic-title"><a href="https://demo.s-cart.org/news/demo-alias-blog-4.html">Easy
                            Polo Black Edition 4</a></h5>
                        <p class="post-classic-text">

                        </p>
                    </div>
                </article>
            </div>
            <div class="col-sm-6 col-lg-4">
                <!-- Post Classic-->
                <article class="post post-classic box-md"><a class="post-classic-figure"
                                                             href="https://demo.s-cart.org/news/demo-alias-blog-5.html">
                    <img src="https://demo.s-cart.org/data/content/blog-5.jpg" alt="" width="370" height="239"></a>
                    <div class="post-classic-content">
                        <div class="post-classic-time">
                            <time datetime="2020-10-24 00:00:00">2020-10-24 00:00:00</time>
                        </div>
                        <h5 class="post-classic-title"><a href="https://demo.s-cart.org/news/demo-alias-blog-5.html">Easy
                            Polo Black Edition 5</a></h5>
                        <p class="post-classic-text">

                        </p>
                    </div>
                </article>
            </div>
            <div class="col-sm-6 col-lg-4">
                <!-- Post Classic-->
                <article class="post post-classic box-md"><a class="post-classic-figure"
                                                             href="https://demo.s-cart.org/news/demo-alias-blog-6.html">
                    <img src="https://demo.s-cart.org/data/content/blog-6.jpg" alt="" width="370" height="239"></a>
                    <div class="post-classic-content">
                        <div class="post-classic-time">
                            <time datetime="2020-10-24 00:00:00">2020-10-24 00:00:00</time>
                        </div>
                        <h5 class="post-classic-title"><a href="https://demo.s-cart.org/news/demo-alias-blog-6.html">Easy
                            Polo Black Edition 6</a></h5>
                        <p class="post-classic-text">

                        </p>
                    </div>
                </article>
            </div>

            <div class="pagination-wrap">
                <!-- Bootstrap Pagination-->
                <nav aria-label="Page navigation">

                </nav>
            </div>

        </div>

    </div>
</section>