{% load static %}

<section class="breadcrumbs-custom">
  <div class="parallax-container" data-parallax-img="{% static 'images/bgbr.jpg' %}">
    <div class="material-parallax parallax">
        <img src="https://demo.s-cart.org/data/banner/bgbr.jpg" alt="" style="display: block; transform: translate3d(-50%, 83px, 0px);">
    </div>
    <div class="breadcrumbs-custom-body parallax-content context-dark">
      <div class="container">
        <h2 class="breadcrumbs-custom-title">Contact us</h2>
      </div>
    </div>
  </div>

  <div class="breadcrumbs-custom-footer">
    <div class="container">
      <ul class="breadcrumbs-custom-path">
        <li><a href="{% url 'home' %}">Home</a></li>
        <li class="active">Contact us</li>
      </ul>
    </div>
  </div>

</section>
