{% load static %}
<!-- Page Footer-->
<footer class="section footer-classic">
    <div class="footer-classic-body section-lg bg-brown-2">
        <div class="container">
            <div class="row row-40 row-md-50 justify-content-xl-between">
                <div class="col-sm-6 col-lg-4 col-xl-3 wow fadeInRight">
                    <a href="http://tulangrapho.com/">
                        <img class="logo-footer" src="{% static 'images/logo.png' %}"
                             alt="Official website of TuLangRaPho">
                    </a>
                    <p>Official website of TuLangRaPho</p>
                    <p></p>
                    <div class="footer-classic-social">
                        <div class="group-lg group-middle">
                            <div>
                                <ul class="list-inline list-social list-inline-sm">
                                    <li><a class="icon mdi mdi-facebook" href="#"></a></li>
                                    <li><a class="icon mdi mdi-twitter" href="#"></a></li>
                                    <li><a class="icon mdi mdi-instagram" href="#"></a></li>
                                    <li><a class="icon mdi mdi-google-plus" href="#"></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4 col-xl-3 wow fadeInRight" data-wow-delay=".1s">
                    <h4 class="footer-classic-title">About us</h4>
                    <ul class="contacts-creative">
                        <li>
                            <div class="unit unit-spacing-sm flex-column flex-md-row">
                                <div class="unit-left"><span class="icon mdi mdi-map-marker"></span></div>
                                <div class="unit-body"><a href="#">Address: 123st - abc - xyz</a></div>
                            </div>
                        </li>
                        <li>
                            <div class="unit unit-spacing-sm flex-column flex-md-row">
                                <div class="unit-left"><span class="icon mdi mdi-phone"></span></div>
                                <div class="unit-body"><a href="tel:#">Hotline: Support: 0987654321</a></div>
                            </div>
                        </li>
                        <li>
                            <div class="unit unit-spacing-sm flex-column flex-md-row">
                                <div class="unit-left"><span class="icon mdi mdi-email-outline"></span></div>
                                <div class="unit-body"><a href="mailto:#demo-admin@s-cart.org">Email:
                                    pnthinh.fit.hcmus@gmail.com</a></div>
                            </div>
                        </li>
                        <li>

                            <form class="rd-form-inline rd-form-inline-2" method="post"
                                  action="https://demo.s-cart.org/subscribe">
                                <input type="hidden" name="_token" value="wy4c136LVo5KnpK03FKr1pSZZddhehoiewKdJV7s">
                                <div class="form-wrap">
                                    <input class="form-input" id="subscribe-form-2-email" type="email"
                                           name="subscribe_email" required/>
                                    <label class="form-label" for="subscribe-form-2-email">Your email</label>
                                </div>
                                <div class="form-button">
                                    <button class="button button-icon-2 button-zakaria button-primary" type="submit"
                                            title="Subscribe">
                                        <span class="fl-bigmug-line-paper122"></span>
                                    </button>
                                </div>
                            </form>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-4 wow fadeInRight" data-wow-delay=".2s">
                    <h4 class="footer-classic-title"> My account</h4>
                    <!-- RD Mailform-->
                    <ul class="contacts-creative">
                        <li>
                            <a
                                    href="https://demo.s-cart.org/customer/login.html">My profile</a>
                        </li>
                        <li>
                            <a
                                    href="https://demo.s-cart.org/compare.html">Compare page</a>
                        </li>
                        <li>
                            <a
                                    href="https://demo.s-cart.org/wishlst.html">Wishlist page</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-classic-panel">
        <div class="container">
            <div class="row row-10 align-items-center justify-content-sm-between">
                <div class="col-md-auto">
                    <p class="rights"><span>&copy;&nbsp;</span><span
                            class="copyright-year"></span><span>&nbsp;</span><span>Official website of TuLangRaPho</span><span>.&nbsp; All rights reserved</span>
                    </p>
                </div>
                <div class="col-md-auto order-md-1">Hosted by <a target="_blank"
                                                                 href="http://tulangrapho.com/">tulangrapho.com</a>
                </div>
                <div class="col-md-auto">
                    Power by <a target="_blank" href="https://www.facebook.com/tulangrapho88">TuLangRaPho</a>
                </div>
            </div>
        </div>
    </div>
</footer>