<!-- Page Header-->
<header class="section page-header">
    <!-- RD Navbar-->
    <div class="rd-navbar-wrap">
        <nav class="rd-navbar rd-navbar-classic" data-layout="rd-navbar-fixed" data-sm-layout="rd-navbar-fixed"
             data-md-layout="rd-navbar-fixed" data-md-device-layout="rd-navbar-fixed"
             data-lg-layout="rd-navbar-static" data-lg-device-layout="rd-navbar-fixed"
             data-xl-layout="rd-navbar-static" data-xl-device-layout="rd-navbar-static"
             data-xxl-layout="rd-navbar-static" data-xxl-device-layout="rd-navbar-static"
             data-lg-stick-up-offset="100px" data-xl-stick-up-offset="100px" data-xxl-stick-up-offset="100px"
             data-lg-stick-up="true" data-xl-stick-up="true" data-xxl-stick-up="true">
            <div class="rd-navbar-main-outer">
                <div class="rd-navbar-main">
                    <!-- RD Navbar Panel-->
                    <div class="rd-navbar-panel">
                        <!-- RD Navbar Toggle-->
                        <button class="rd-navbar-toggle" data-rd-navbar-toggle=".rd-navbar-nav-wrap"><span></span>
                        </button>
                        <!-- RD Navbar Brand-->
                        <div class="rd-navbar-brand">
                            <!--Brand--><a class="brand" href="/"><img class="brand-logo-dark"
                                                                       src="https://demo.s-cart.org/data/logo/scart-mid.png"
                                                                       alt="" width="105"
                                                                       height="44"/>
                            <img class="brand-logo-light" src="https://demo.s-cart.org/data/logo/scart-mid.png"
                                 alt="" width="106" height="44"/></a>
                        </div>
                    </div>
                    <div class="rd-navbar-nav-wrap">
                        <!-- RD Navbar Nav-->
                        <ul class="rd-navbar-nav">
                            <li class="rd-nav-item active"><a class="rd-nav-link"
                                                              href="/">Home</a>
                            </li>
                            </li>
                            <li class="rd-nav-item">
                                <a class="rd-nav-link" href="/blogs">Blog</a>
                            </li>
                            <li class="rd-nav-item">
                                <a class="rd-nav-link"
                                   href="/about">About us</a>
                            </li>
                            <li class="rd-nav-item">
                                <a class="rd-nav-link"
                                   href="/contact">Contact us</a>
                            </li>

                            <li class="rd-nav-item"><a class="rd-nav-link" href="#"><i class="fa fa-lock"></i>
                                Account</a>
                                <ul class="rd-menu rd-navbar-dropdown">
                                    <li class="rd-dropdown-item">
                                        <a class="rd-dropdown-link"
                                           href="https://demo.s-cart.org/member/login.html"><i
                                                class="fa fa-user"></i> Login</a>
                                    </li>
                                    <li class="rd-dropdown-item">
                                        <a class="rd-dropdown-link"
                                           href="https://demo.s-cart.org/plugin/login_socialite/facebook"><i
                                                class="fab fa-facebook"></i>
                                            Login facebook</a>
                                    </li>
                                    <li class="rd-dropdown-item">
                                        <a class="rd-dropdown-link"
                                           href="https://demo.s-cart.org/plugin/login_socialite/google"><i
                                                class="fab fa-google-plus"></i>
                                            Login google</a>
                                    </li>
                                    <li class="rd-dropdown-item">
                                        <a class="rd-dropdown-link"
                                           href="https://demo.s-cart.org/plugin/login_socialite/github"><i
                                                class="fab fa-github"></i>
                                            Login github</a>
                                    </li>

                                    <li class="rd-dropdown-item">
                                        <a class="rd-dropdown-link" href="https://demo.s-cart.org/wishlst.html"><i
                                                class="fas fa-heart"></i> Wishlist
                                            <span class="count sc-wishlist"
                                                  id="shopping-wishlist">0</span>
                                        </a>
                                    </li>
                                    <li class="rd-dropdown-item">
                                        <a class="rd-dropdown-link" href="https://demo.s-cart.org/compare.html"><i
                                                class="fa fa-exchange"></i> Compare
                                            <span class="count sc-compare"
                                                  id="shopping-compare">0</span>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>

                    <div class="rd-navbar-main-element">
                        <!-- RD Navbar Search-->
                        <div class="rd-navbar-search rd-navbar-search-2">
                            <button class="rd-navbar-search-toggle rd-navbar-fixed-element-3"
                                    data-rd-navbar-toggle=".rd-navbar-search"><span></span></button>
                            <form class="rd-search" action="https://demo.s-cart.org/search.html" method="GET">
                                <div class="form-wrap">
                                    <input class="rd-navbar-search-form-input form-input" type="text" name="keyword"
                                           placeholder="Your keyword"/>
                                    <button class="rd-search-form-submit" type="submit"></button>
                                </div>
                            </form>
                        </div>
                        <!-- RD Navbar Basket-->
                        <div class="rd-navbar-basket-wrap">
                            <a href="https://demo.s-cart.org/cart.html">
                                <button class="rd-navbar-basket fl-bigmug-line-shopping202">
                                    <span class="count sc-cart" id="shopping-cart">0</span>
                                </button>
                            </a>
                        </div>
                        <a title="View cart" style="margin-top:10px;"
                           class="rd-navbar-basket rd-navbar-basket-mobile fl-bigmug-line-shopping202 rd-navbar-fixed-element-2"
                           href="https://demo.s-cart.org/cart.html">
                            <span class="count sc-cart">0</span>
                        </a>
                    </div>
                </div>
            </div>
        </nav>
    </div>
</header>